/* ریست html */
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen,
    ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial,
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}
/* تعریف متغیرها */
:root {
  --primaryColor: #6d28d9;
  --secondaryColor: #ede9fe;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #7c7c7c;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainRed: #db2777;
  --bodyColor: #f6f6f6;
}
/* دادن استایل به بدنه سایت */
html,
body {
 
  box-sizing: border-box;

  outline-style: none;
  /* background-color: #111927;
  background-image: radial-gradient(
      at 47% 33%,
      hsl(162.55, 40%, 46%) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(218, 39%, 11%) 0, transparent 70%);
  background-repeat: no-repeat; */
  overflow-x: hidden;
  /* Background styles */
   background-image: linear-gradient(rgba(0, 0, 125, 0.5), rgba(14, 12, 125, 0.5),rgba(0, 0, 0, 0.3)), url("assets/images/banner.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
  
}
/* منوی پیمایش */

.nav_container {
  background-color: rgb(147, 147, 179);
  width: 100%;
  height: 80px;
  box-shadow: 0 20px 120px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  backdrop-filter: blur(15px) saturate(120%);
  -webkit-backdrop-filter: blur(16px) saturate(120%);
  background-color: rgba(17, 25, 40, 0.3);
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  
}
/* لیست منوی پیمایش */
.nav_container .nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
}
/* آیتم های  لینک منو پیمایش */
.nav_link .nav_item {
  padding: 0 1rem;
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* تگ a منوی پیمایش */
.nav_link .nav_item a {
  color: var(--mainWhite);
  text-decoration: none;
}
.nav_container .nav_link .nav_item a :active{
  color: aqua;
}

/* منوی همبرگری */
.bar {
  width: 25px;
  height: 3px;
  background-color: #dce2ec;
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  margin-right: 1rem;
}

.bar:hover {
  color: aqua;
}
/* TOGGLER */

.toggler {
  cursor: pointer;
  margin-left: 2rem;
}

.nav_expanded .bar-one {
  transform: rotate(-45deg) translate(-9px, 6px);
  margin: 8px 0;
}

.nav_expanded .bar-two {
  transform: translate(-20px);
  opacity: 0;
}

.nav_expanded .bar-three {
  transform: rotate(45deg) translate(-8px, -8px);
  margin: 8px 0;
}

.bar:hover {
  color: #03161d;
}

/* logo */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.logo img {
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 3px 3px rgba(53, 60, 151, 0.2);
  border-radius: 50%;
}
/* subnav */
/* The subnavigation menu */
.subnav {
  float: right;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a blue background color to navigation links on hover */
.navbar a:hover,
.subnav:hover .subnavbtn {
  box-shadow: 0 20px 120px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  backdrop-filter: blur(15px) saturate(120%);
  -webkit-backdrop-filter: blur(16px) saturate(120%);
  background-color: rgba(17, 25, 40, 0.3);

  border: 1px solid rgba(255, 255, 255, 0.125);
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  right:40%;
  background-color: rgb(51, 69, 126);
  width: 170vw;

  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  width: 150vw;
  float: right;
  color: white;
  text-decoration: none;
  transition: 2s ease-in-out;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  width: 100%;

  color: rgba(13, 194, 240, 0.76);
  box-shadow: 0 20px 120px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  backdrop-filter: blur(15px) saturate(120%);
  -webkit-backdrop-filter: blur(16px) saturate(120%);
  text-align: right;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  overflow: hidden;
  width: 250px;
  padding: 1rem;
  box-shadow: 0 20px 120px rgba(0, 0, 0, 0.07);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  backdrop-filter: blur(15px) saturate(120%);
  -webkit-backdrop-filter: blur(16px) saturate(120%);
  background-color: rgba(17, 25, 40, 0.3);

  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: all 3s ease-in-out;
}

/* hero */
/* blurring the image */
    .hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
 
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;
     /* ADD THIS LINE */

    /* Background styles */
   background-image: linear-gradient(rgba(42, 45, 110, 0.4), rgba(11, 8, 120, 0.5),rgba(45, 12, 111, 0.3)), url("assets/images/banner.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    
    
}

.hero h1 {
    /* Text styles */
    font-size: 1.5em;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;

    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 1rem;

    /* Border styles */
    border: 2px solid white;
    border-radius: 20px;

    /* Background styles */
    background-color: rgba(147, 112, 219, 0.2);
}
/* استایل به فرم ورود */
.log_title {
  color: var(--mainWhite);
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.log_form_Container form {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  height: auto;
  margin: 13% auto;

   backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  z-index: 0;
}

.log_form_Container form label {
  font-size: medium;
  color: var(--mainWhite);
  align-items: center;
  margin: 0.7rem auto;
}

.log_form_Container form input {
  font-size: 14px;
  padding: 0.7rem;
  border-radius: 12px;
  outline-style: none;
  box-shadow: 0 20px 120px rgba(0, 0, 0, 0.07);

  backdrop-filter: blur(15px) saturate(120%);
  -webkit-backdrop-filter: blur(16px) saturate(120%);
  background-color: rgba(17, 25, 40, 0.3);

  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 200px;
  color:var(--mainWhite) ;
}
.btns {
  padding: 1rem;
  display: flex;
  gap: 0.7rem;
  
}
.btn {
  box-shadow: 0 20px 120px rgba(1, 13, 125, 0.125);

  backdrop-filter: blur(15px) saturate(120%);
  -webkit-backdrop-filter: blur(16px) saturate(120%);
  background-color: rgba(12, 21, 198, 0.125);

  border: 1px solid rgba(1, 130, 225, 0.3);
  padding: 0.5rem;
  border-radius: 7px;
  color: var(--mainWhite);
  font-size: 14px;
  margin-top: .5rem;
  width: 80px;
  cursor: pointer;
transition: 1s ease-in-out;
  
}
 .log_footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: var(--mainWhite);
}

.log_footer>a{
  text-decoration: none;
  color: aqua;
  
  font-weight: bold;
  font-size: 1rem;
}
.log_footer>a:hover{
  color:black;
}
/* hero banner */
.hero .btn:hover{
   
   box-shadow: 5px 20px 120px rgba(140, 0, 112, 0.07);
   
   animation: anim 1s  1s ease-in-out infinite;
}
@keyframes anim {
   from{
border: 2px solid rgba(3, 12, 18, 0.4);
box-shadow: 5px 20px 120px rgba(140, 0, 112, 0.07);
 background-color:rgba(145, 120, 150, 0.3);
   } 
  
  

  to{
     background-color:rgba(0, 142, 0, 0.3);
      
  }
}
 
/* استایل به فرم ثبت نام */
.reg_title {
  color: var(--mainWhite);
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
 .reg_form_Container form {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  height: auto;
  margin: 12% auto;

  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.125);
}

.reg_form_Container form label {
  font-size: medium;
  color: var(--mainWhite);
  align-items: center;
  margin: 0.7rem auto;
}

.reg_form_Container form input {
  font-size: 14px;
  padding: 0.7rem;
  border-radius: 12px;
  outline-style: none;
  box-shadow: 0 20px 120px rgba(0, 0, 0, 0.07);

  backdrop-filter: blur(15px) saturate(120%);
  -webkit-backdrop-filter: blur(16px) saturate(120%);
  background-color: rgba(17, 25, 40, 0.3);

  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 200px;
   color:var(--mainWhite) ;
 
}

 .reg_form_desc{
  display: flex;
 }
 .alert-info{
  width: 200px;
  height:auto;
  background-color: rgba(4, 44, 21, 0.185);
  color: var(--mainWhite);
 }

 /*  style to error  */
 .reg_form_Container form .error-msg{
 
  margin: 10px 0;
  display: block;
  background-color: crimson;
  color: var(--mainWhite);
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
 }
 /* about */
.about_container {
 display: flex;
 justify-content: space-between;
 gap: 2rem;
 
 align-items: center;
   max-width: 80%;
  height: auto;
   backdrop-filter: blur(15px) saturate(120%);
  -webkit-backdrop-filter: blur(16px) saturate(120%);
  background-color: rgba(17, 25, 40, 0.3);
  border-radius: 7px;
  margin: 2rem auto;
  padding: 1rem;
  color: var(--mainWhite);
  line-height: 2;
  
   

}
.about_title h1{
  font-size: 1.9rem;
  color: var(--mainWhite);
  margin-top: 2.5rem;
  padding: 1.2rem;
 text-align: center;
}
.about_title h5{

  color: var(--mainWhite);
  
  padding: .2rem;
 text-align: center;
}

.about_img img{
  width: 250px;
  height: auto;
   

}

